<%= title t('welcome.header') %>
<%= @client_application.client_url %>
<%= @client_application.client_name %>

<p>
  <%= @client_application.description %>
</p>

<%= link_to "Authorise App", authorise_app_path, :method => :post %>
